body{
    background-image: url(/images/arkaplan1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family:"Roboto Mono";
    border: 20px solid #361500;
    margin: 0;
  }
  a:hover {
    background-color: #8ba515;
  }
  a:active {
    background-color: #a5af76;
  }
  #giris:hover {
    background-color: #8ba515;
  }
  #giris:active {
    background-color: #a5af76;
  }
  
#giris {
    border-bottom: 5px solid #535204;
    border-right: 5px solid #535204;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 50px;
    background-color: #62760c;
    color: #aaa94f; padding:10px;
  
    margin: 10px;
  }
  * {
    box-sizing: border-box;
  }
  #main-navbar {
    padding: 20px;
  }
  
  #main-navbar a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    font-weight: bold;
    color: #62760c;
    border-bottom: 5px solid #535204;
    border-right: 5px solid #535204;
    border-top: 1px solid #535204;
    border-left: 1px solid #535204;
    border-radius: 10px;
    margin: 10px;
    width: fit-content;
  }
  
  #main-navbar a:first-child {
    margin-left: 0;
  }
  
  #main-navbar a:last-child {
    margin-right: 0;
  }
  
  @media screen and (max-width: 768px) {
    #main-navbar {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  
    #main-navbar a {
      display: block;
      margin: 10px 0;
    }
  
    #main-navbar a:first-child {
      margin-top: 0;
    }
  
    #main-navbar a:last-child {
      margin-bottom: 0;
    }
  }
  h1 {
    text-align: center;
}
#movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie {
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.movie img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.movie h2 {
    font-size: 18px;
    margin: 5px 0;
}
.movie p {
    font-size: 14px;
    margin: 5px 0;
    color: #666;
}
.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.book {
  
  width: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
#books{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.book img {
  width: 100%;
  height: auto;
  
}

.book h2 {
  margin-top: 10px;
  font-size: 18px;
}
